<div class="cont">
  <div class="item">
    <img class="icons" src="../../../assets/icons/phone.png" />
    <label class="icon-text">(+30) 6984588399</label>
  </div>
  <div class="item">
    <img class="icons" src="../../../assets/icons/email.png" />
    <label class="icon-text">iliadis.fil&#64;gmail.com</label>
  </div>
  <div class="item">
    <img class="icons" src="../../../assets/icons/linkedin.png" />
    <label class="icon-text">linkedin.com/in/filippos-iliadis-4448058a</label>
  </div>
</div>
<div class="cont">
  <div class="item">
    <img class="icons" src="../../../assets/icons/github.png" />
    <label class="icon-text">github.com/filiadis</label>
  </div>
  <div class="item">
    <img class="icons" src="../../../assets/icons/rg.png" />
    <label class="icon-text">researchgate.net/profile/Filippos-Iliadis-3</label>
  </div>
</div>
