<div class="cont">
  <label class="title">Work experience</label>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">Software & GIS Engineer</label>
      <label class="company">SUPCO</label>
      <label class="location">Athens, Greece</label>
      <label class="date">Jan 2023 – today</label>
    </div>
    <div class="details">
      Web map applications development through Angular, Python (Django), Java,
      (Spring Boot), Leaflet | RDBMS (PostgreSQL/PostGIS) and Geoserver setup |
      Linux (Ubuntu) Server setup and deployment through Docker | GIS task
      automation through Python | Participation in urban planning studies |
      Thematic map creation
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Programmer & Analyst</label>
      <label class="company">N.T.U. of Athens</label>
      <label class="location">Athens, Greece</label>
      <label class="date">Dec 2021 - Jan 2023</label>
    </div>
    <div class="details">
      Participation in Electric Vehicle Charging Allocation Studies | Spatial
      analysis and data digitization through QGIS and PostgreSQL/PostGIS
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Auditor</label>
      <label class="company">Agricultural Development</label>
      <label class="location">Larisa, Greece</label>
      <label class="date">Dec 2020 - Dec 2021</label>
    </div>
    <div class="details">
      Preparation of the subsidy application | Parcel digitization via GIS
      software | Digitization suitability checking via remote sensed satellite
      images and Google Earth
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Auditor</label>
      <label class="company">ELPHO</label>
      <label class="location">Athens, Greece</label>
      <label class="date">Mar 2020 - Dec 2020</label>
    </div>
    <div class="details">
      Land parcel and building digitization & suitability checking via a GIS web
      application | Quality assurance of citizens' application for the Greek
      Cadastre
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Analyst</label>
      <label class="company">GAIAOSE</label>
      <label class="location">Athens, Greece</label>
      <label class="date">Oct 2016 - Mar 2020</label>
    </div>
    <div class="details">
      GIS system management for the Greek railway property | Topographic &
      thematic map creation | ESRI web application management | Processes
      automation through Python & SQL | Data conversion and implementation | GIS
      & AutoCad integration | Assistance in railway & urban planning projects |
      Assistance in environmental & renewable energy projects | Assistance in
      railway & urban planning projects | Assistance in environmental &
      renewable energy projects
    </div>
  </div>
</div>
