<div class="cont">
  <label class="title">Work experience</label>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Developer & Urban planner</label>
      <label class="company">SUPCO</label>
      <label class="location">Athens, Greece</label>
      <label class="date">Jan 2023 – today</label>
    </div>
    <div class="details">
      Web map applications development through Angular, Python (Django), Java,
      (Spring Boot), Leaflet | RDBMS (PostgreSQL/PostGIS) and Geoserver setup |
      Linux (Ubuntu) Server setup and deployment through Docker | GIS task
      automation through Python | Participation in urban planning | studies
      Thematic map creation
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">GIS Programmer & Analyst</label>
      <label class="company">Technical University </label>
      <label class="location">Athens, Greece</label>
      <label class="date">Dec 2021 - Jan 2023</label>
    </div>
    <div class="details">
      Participation in Electric Vehicle Charging Allocation Studies | Spatial
      analysis and data digitization through QGIS and PostgreSQL/PostGIS
    </div>
  </div>
</div>
