<div class="cont">
  <label class="title">Education</label>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">M.Sc.</label>
      <label class="company">University of Glasgow</label>
      <label class="location">Glasgow, UK</label>
      <label class="date">Sep 2013 – Sep 2014</label>
    </div>
    <div class="details">
      Geo-information Technology & Cartography (Thesis: Input data for urban
      hydrology models)
    </div>
  </div>

  <!--position-->
  <div class="position">
    <div class="work_info">
      <label class="work_title">Diploma</label>
      <label class="company">University of Thessaly</label>
      <label class="location">Volos, Greece</label>
      <label class="date">Sep 2005 – Sep 2010</label>
    </div>
    <div class="details">
      Spatial Planning & Regional Development (Thesis: Integrated environmental
      planning for the region of Thessaly)
    </div>
  </div>
</div>
